body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
            max-width:400px;
            margin:50 auto;
            color:grey;
            font-family:sans-serif;
            margin-top:60px;
            margin-left:20px;
            margin-right:20px;
        }
        
